{% extends 'dashboard/base.html' %}

{% block bottomjs %}
  {{ block.super }}
  <script src="http://ajaxorg.github.io/ace-builds/src-noconflict/ace.js"></script>
  <script type="text/javascript">
    $(function () {
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/html");
      editor.on('change', function() {
        $('[name=content]').prop('value', editor.getSession().getDocument().getValue());
      })
    });
  </script>
{% endblock %}

{% block head %}
  {{ block.super }}
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }

    [name=content] {
      display: none;
    }

    #editor {
      width: 500px;
      height: 500px;
    }
  </style>
{% endblock %}

{% block content %}
  {{ block.super }}
  <h1>Edit file {{ path }}</h1>
  <form action="{% url 'site_file_editor' object.pk path %}" method="POST">
    <textarea name="content" cols="30" rows="10">{{ content }}</textarea>
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Сохранить"/>
    <div id="editor">{{ content | escape }}</div>
  </form>
{% endblock %}