{% extends "dashboard/base.html" %}
{% load socialaccount account %}
{% block header %}
  <div class="promo-banner">
    <div class="container-fluid">
      <h1 class="promo-banner__header">CMSLess - это сервис для генерации статических сайтов сделанный
        веб-разработчиками для веб-разработчиков</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="frontpage-form z-depth-2">
    <form action="{% url 'site_create' %}" method="post">
      <h2 class="frontpage-form__header">Зарегистрироваться</h2>

      {% if user.is_anonymous %}
      <div class="form-group">
        <a class="btn btn-primary" href="{% provider_login_url "dropbox" %}"><i class="glyphicon glyphicon-link"></i> Дайте доступ к Dropbox</a>
      </div>
      {% else %}
      <div class="form-group">
        <div class="btn btn-primary"><i class="glyphicon glyphicon-link"></i> Вы зашли как {% user_display user %}</div>
        <div class="help-text"><a href="{% url 'account_logout' %}">Сменить пользователя</a></div>
      </div>
      {% endif %}
      <div class="form-group">
        <label for="">Придумайте домен или просто название</label>
        <input type="text" class="form-control" name="domain"/>
      </div>
{#      <strong class="form-group">Выберите начальный шаблон</strong>#}
{#      <div class="radio">#}
{#        <label>#}
{#          <input type="radio" name="template"/>#}
{#          <div class="frontpage-form__screenshot" style="background-image: url('{{ MEDIA_URL }}stencils/default.png')"></div>#}
{#          Шаблон Jekyll по умолчанию#}
{#        </label>#}
{#      </div>#}
      {% if user.is_anonymous %}
        <a class="btn btn-primary frontpage-form__submit" href="{% url 'account_signup' %}">Зарегистрироваться</a>
        <hr/>
        <span>Уже зарегистрированы?</span>
        <a href="{% url 'account_login' %}">Войти</a>
        <span>или</span>
        <a href="{% url 'account_reset_password' %}">Напомнить пароль</a>
      {% else %}
        <input type="hidden" name="remote" value="dropbox"/>
        {% csrf_token %}
        <input type="submit" class="btn btn-primary frontpage-form__submit" value="Создать сайт"/>
      {% endif %}

    </form>
  </div>

  <section class="frontpage-faq">
    <h2>FAQ</h2>
    <span class="frontpage-faq__question">
      Что это такое?
    </span>
    <span class="frontpage-faq__answer">
      CMSLESS - это сплав силы и умения
    </span>

    <span class="frontpage-faq__question">
      Что это такое?
    </span>
    <span class="frontpage-faq__answer">
      CMSLESS - это сплав силы и умения
    </span>
  </section>
{% endblock %}