{% extends 'base.html' %}
{% load account socialaccount %}

{% block bottomjs %}
  {{ block.super }}
  {% providers_media_js %}
{% endblock %}

{% block content %}
  {% if not user.is_anonymous %}
    <h3>Ваши сайты:</h3>
    <table class="table">
      {% for site in object_list %}
        <tr>
          <td><a href="{% url 'site_detail' site.id %}">{{ site }}</a></td>
          <td><a class="btn btn-default" href="{% url 'site_delete' site.id %}">Удалить</a></td>
        </tr>
      {% empty %}
        Пока у вас нет сайтов
      {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'site_create' %}">Добавить сайт</a>
  {% endif %}
{% endblock %}
