{% extends 'dashboard/base.html' %}

{% block content %}
  {{ block.super }}
  <h1>Удалить сайт {{ object.domain }}?</h1>
  <form action="{% url 'site_delete' object.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Да!"/>
  </form>
{% endblock %}