{% extends 'dashboard/base.html' %}

{% block bottomjs %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}rxjs/dist/rx.all.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}dashboard/scripts/main.js"></script>
{% endblock %}

{% block content %}
  {{ block.super }}
  <h1>{{ object.domain }}</h1>
  <a class="btn btn-default" href="{% url 'site_update' object.pk %}"><i class="glyphicon glyphicon-pencil"></i>
    Изменить</a>
  <form action="{% url 'site_sync' object.pk %}" method="POST" id="target">
    {% csrf_token %}
    <button class="btn btn-default">Обновить</button>
  </form>
  <form action="{% url 'site_preview' object.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-default">Предпросмотр</button>
  </form>
  <form action="{% url 'site_publish' object.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary">Публикация</button>
  </form>
  <br/>

  {% if empty %}
    Website does not exist. You can initialize it with stencil:
    <form action="{% url 'site_stencil' object.pk %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input class="btn btn-primary" type="submit"/>
    </form>
  {% else %}
    Remote: {{ object.get_remote_display }}
    <ul class="pills pills-stacked">
      {% for file in files %}
        <li><a href="{% url 'site_file_editor' object.pk file.path %}">{{ file }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
