<!DOCTYPE html>
{% load compress %}
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>CMSless - генератор статических сайтов для веб-разработчиков</title>
  {% compress css %}
    {% block styles %}
      <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/styles/main.css"/>
      <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    {% endblock %}
  {% endcompress %}
  {% block head %}
  {% endblock %}
</head>
<body role="document" class="sticky-footer">
<header class="sticky-footer__header z-depth-1">
  {% block header %}
    {% include "header.html" %}
  {% endblock %}
</header>
<main class="sticky-footer__content">
    <div class="container-fluid">
  {% block content %}{% endblock %}
    </div>
</main>
<footer class="sticky-footer__footer z-depth-1">
  {% include "footer.html" %}
</footer>
{% compress js %}
  {% block bottomjs %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/dist/jquery.js"></script>
  {% endblock %}
{% endcompress %}
</body>
</html>
